@import "mixin.styl"
> .app-header
  position relative
  height 21.875rem
  background-size cover
  background-position center
  .bar
    padding 1.375rem
  .logo
  .avatar
    display inline-block
    background-color #fff
    border-radius 50%
    text-align center
    img
      height 90%
      margin-top 5%
  .logo
    width 2.875rem
    height @width
  .avatar
    width 2.5rem
    height @width
    margin-top .1875rem
  h1
  .subtitle
    position absolute
    left 0
    margin 0
    width 100%
    text-align center
    color #fff
  h1
    bottom 4rem
    font-size 2.25rem
  .subtitle
    bottom 1.5rem
    font-size 1rem
    beauty-english(true)
