@import "normalize.styl"
html
  font-size 16px
body
  margin 0
  padding 0
@import "helper.styl"
#app
  width 87.5rem
  margin 4.375rem auto 0
.column-left
.column-right
  display inline-block
.column-left
  width 59.375rem
  @import "header.styl"
.column-right
  width 28.125rem
