<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="app"<% if(theme.bg_color_from) { %>
    style=""
    <% } %>>
    <%- partial('_partial/left') %>
    <%- partial('_partial/right') %>
  </div>
</body>
<%- partial('_partial/footer') %>
</html>
