<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="app">
    <%- partial('_partial/left') %>
    <%- partial('_partial/right') %>
  </div>
</body>
<%- partial('_partial/footer') %>
</html>
